extends layout

block content

    h1=title
    div(class="game-container")
        div(class="grid-info")
            p Game
            p Company
        div(class="gamelist-grid")
            each game in gameList
                a(href=game.url) #{game.name}    
                a(href=game.company.url)  #{game.company.name} 


