extends layout

block content

    h1=title
    div(class="game-container")
        div(class="grid-info")
            p Game
            p Company
        each game in gameList
            div(class="gamelist-grid")
                a(href=game.url) #{game.name}    
                a(href=game.company.url)  #{game.company.name} 


