extends layout 

block content
    
    h1(class="form-title") #{title}

    form(method="POST" action="" class="game-form")
        div
            input(type='text', placeholder='Game Name' name='name' required)
        div 
            input(type="number", name="rating", placeholder="Personal Rating" required)
        div
            textarea(name="description", placeholder="Brief Review" cols="30", rows="6" required)
        div
            select(type="select" name="company" required)
                option(value="" disabled selected ) Choose a Company..
                for company in companies
                    option(value=company._id) #{company.name}        
        div
            select(type="select" placeholder="Select Genre" name="genre" required)
                option(value="" disabled selected) Choose a genre..
                for genre in genres
                    option(value=genre._id) #{genre.name}  
        div
            select(type="select" name="status" required)
                option(value="" disabled selected) Game status...
                each stat in status
                    option(value=stat) #{stat}                             
        div(class="btn")
            button(type="submit") Submit
