extends layout

block content
    div(class="single-game-container")
        h1=title 
        h3 Developed by:         
            a(href=company.url) #{company.name}
        h2 Personal Rating: 
            span #{rating}
        h2 Brief Review:
            span #{description}
        h2 Genre:  
            span  #{genre.name}
        h2 Status: 
            span #{status}
        